*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    font-family: 'leto';
}

header .containner {
    background-color: #143642;
    background-size: cover;
    width: 100%;
    border-radius: 10px;
    color:#F9FBFE;
    background-image: url("../assets/Coffe\ Header.png");
}
.containner{
    padding: 50px;
}
.navbar {
    display: flex;
    justify-content: space-between;
}
.logo img{
    width:335px;
}
.menu ul li {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    list-style: none;
    display: inline-block;
    margin:0 25px;
}
.menu a{
    color:#F9FBFE;
    justify-content: space-around;
}
.top-title{
    margin: 100px auto;
    width: 50%;
    text-align: center;
}
.top-title h1{
    font-size: 70px;
    margin: 0px;
}
.top-title p{
    font-size: 36px;
    margin: 0;
}

.card{
    padding: 50px 150px;
    color: #143642;
    display: flex;
    justify-content: space-between;
}
.profil{
    width: 500px;
}
.profil h2{
    color: #0F8B8D;
    font-size: 48px;
    border-bottom: 3px solid #EC9A29;
    display: inline-block;
    margin: 0;
}
.profil p {
    font-size: 24px;
}
.picture{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}
.btn-detail{
    background-color: #A8201A;
    color: #F9FBFE;
    padding: 20px 50px;
    border-radius: 50px;
    border: none;
    font-size: 24px;
}

.about .card {
    justify-items: left;
}
.about .picture {
    width: 200px;
}
.about .picture img{
    width: 400px;
    object-fit:contain;
}

.product .card{
    flex-direction: row-reverse;
}
.product .picture{
    height: 300px;
}
.product .picture img{
    height: 503px;
    object-fit: contain;
}

.place .card{
    justify-items: left;
}
.place .picture{
    width: 300px;
}
.place .picture img{
    width: 450px;
    object-fit: contain;
}

.igcard{
    padding: 50px 150px;
    font-size: 30px;
    text-align: center;
}
.title{
    color:#0F8B8D;
}
.igcard .title .oren {
    color: #EC9A29;
    border-bottom: 3px solid #EC9A29;
    display: inline-block;
}
.katalogs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.katalogs img{
    height: 237px;
    width:237;
    margin-bottom: 50px;
}

.ask{
    text-align: center;
}
.ask .profil {
    width: 100%;
}

footer{
    background-color: #143642;
    color: #F9FBFE;
    width: 100%;
    border-radius: 10px;
}
footer .containner{
    display: flex;
    justify-content: space-between;
    justify-items: left;
    padding: 50px 200px 200px 130px;
}
footer .logo{
    margin-bottom: 30px;
}
footer .sosmed img{
    filter: invert(100%);
    height: 32px;
    margin-right: 25px;
}
footer .link p{
    font-size: 24px;
    margin-bottom: 20px;
}
footer .link h3{
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 24px;
    color:#EC9A29;
}

header .navmenu {
    background-color: #0F8B8D;
    color:#F9FBFE;
    border-radius: 10px 10px 0 0;
    padding: 50px;
} 

.katalogs .katalog{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    background-image: url("../assets/Coffee\ background.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 30px;
    width: 216px;
    margin-bottom: 20px;
}
.katalog img{
    width:186px;
    height: 139px;
    margin: auto;
}
.katalog h4, .katalog p{
    margin: 0;
    color: #F9FBFE;
}
.katalog h4{
    font-size: 20px;
}
.katalog p{
    font-size: 18px;
}
.katalog .detail {
    padding: 21px 0;
}
.detail h4{
    margin-bottom: 10px;
}

.pageproduct{
    padding: 50px 150px;
    color: #143642;   
}
.productdetail {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.productdetail img{
    width: 500px;
}
.productdetail h2 {
    color: #0F8B8D;
    font-size: 48px;
}
.productdetail p{
    color: #143642;
    font-size: 24px;
}
.productdetail h1{
    color: #0F8B8D;
    font-size: 60px;
}
.pproduct h2{
    color: #0F8B8D;
    font-size: 48px;
    border-bottom: 3px solid #EC9A29;
    padding-bottom: 20px;
}
.btn-detail img{
    filter: invert(100%);
    transform: scaleX(-1);
    display: inline-block;
    height: 20px;
    margin: 0;
}